@charset "utf-8";
/****************************** 170105 김다미 ******************************/
/* 검색 결과 */
.result_wrap {display:none; position:relative; width:100%; height:auto;}
.filter_box {position:relative; width:100%; height:40px; padding:5px; box-sizing:border-box; background-color:#fff;}
.filter_box select {width:100%; height:30px; border:none; outline:none; background:none; color:#46526c; font-size:13px; font-weight:700; font-family:'NanumSquare'; line-height:30px; appearance:none;-webkit-appearance:none; -o-appearance:none; -moz-appearance:none;}
.result_filter {float:left; width:75px; height:100%; margin-right:5px;}
.result_filter:last-of-type{margin-right:5px;}
.result_filter select {padding:0 15px 0 5px; border:1px solid #d8deea; border-radius:5px; background:url(http://image.ilhaeyo.com/imgs/ilheayo_job/img01/ico_drop01.png) 94% 50% no-repeat; background-size:12px 7px; box-sizing:border-box;}
.result_align {float:right; width:67px; height:100%;}
.result_align select {background:url(http://image.ilhaeyo.com/imgs/ilheayo_job/img01/ico_drop03.png) 92% 50% no-repeat; background-size:12px 7px;}
.result_filter span, .result_align span {display:none;}
.result_info {position:relative; width:100%; height:30px; padding:0 10px; border-bottom:1px solid #3d4964; background-color:#46526c; color:#fff; font-size:14px; line-height:30px; box-sizing:border-box;letter-spacing:-0.5px;}
.result_info .result_num {color:#fff844;}

/****************************** 170109 김다미 ******************************/
body{background-color:#eceff4;}
.select{background:rgba(0,0,0,0.05);}
